<main role="main" class="inner cover">
  <h1 class="cover-heading">Repositórios Em Destaque</h1>
  <p class="lead">Site para busca dos repositórios em destaque das linguagens Ruby, Java, Python, C e Go</p>
  <p class="lead">
    <%= link_to "Buscar Repositórios", search_repositories_path, class: 'btn btn-lg btn-secondary' %></a>
  </p>
</main>