<h3>Repositorios</h3>

<p id="notice"><%= notice %></p>

<%= link_to "Buscar Repositorios", search_repositories_path %>
<br>
<table>
  <thead>
    <tr>
      Nome
    </tr>
  </thead>
  <tbody>
    <% @repositories.each do |r| %>
      <tr>
        <td>
          <%= r.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>